body{
    margin: 0 auto;
    overflow: auto;
    font-family: 'Patua One', cursive;
    background-color: #F7F7F7;
}
header{
    background-color: white;
    height: 5em;
  /*  outline: 1px solid green;*/
}
#logo{
    width: 12em;
    margin: 1.5em 0 0 33em;
}
/*#sidebar{
outline: 1px solid orange;
}
.abrir-cerrar{
    color: black;
    font-size: 2em;
    margin: 0.6em 0 0 1.5em;
    float: left;
}
#cerrar{
  display: none;
}*/
a:hover{
  color: #F9A91A;
}
.section1{
    background-color: #333333;
    height: 8em;
  /*  outline: 1px solid blue;*/
}
nav .fa-caret-down{
  font-size: 1.5em;
  margin-left: 0.5em;

}
nav{
  font-size: 1.2em;
}
nav ul li{
  margin-left: 2em;
}
ul, ol{
  list-style: none;

}
nav li a{
  background-color: #333333;
  color: white;
  text-decoration: none;
  padding: 0.8em 0.8em;
  display: block;
  /*outline: 1px solid red;*/
}
nav > li{
  float: left;
}
nav li ul{
  display: none;
  position: absolute;
  min-width: 10em;
}
nav li:hover > ul{
  display: block;
}
nav li ul li{
  position: relative;
  font-size: 1em;
}
nav li ul li ul{
  left: 6.4em;
  top: 0;
}
/*.menu_oculto{
  display: none;
}
.menu{
  display: block;
}*/
.menu ul{
  list-style: none;
  line-height: 2em;
  overflow: auto;
}
.menu ul li{
  text-align: center;
}

#btn{
  margin-left: 10em;
  float: left;
  border-bottom: 0.2em solid #F9A91A;
}

#sede{
  font-size: 1.5em;
  margin-left: 7em;
  color: #F9A91A;
  float: left;
}
#parrafo{
  margin-top: 0.1em;
  width: 20em;
}

button[type=button]{
   font-size: 1.1em;
   font-weight: bold;
   background-color: #333333;
   padding: 0.1em 0.8em 0.6em 0.8em;
   border: none;
   color: white;
   outline: none;
   cursor: pointer;
 }
 /*.contenedor{
   display: none;
 }
 .contendor2{
   display: block;
 }*/
#section2{
     width: 100%;
     height: 40%;
     margin-right: 20%;
     overflow: auto;
 }
.box{
     background-color: #ddd;
     width: 25%;
     height: 250;
     float: left;
     outline: 1px solid red;
 }
#enrolmment{
   margin-left: 10em;
 }
 h2{
     font-size: 1.2em;
     text-align: right;
     font-weight: bolder;
     color: #2B2B2B;
 }
 h3{
     font-size: 0.5em;
 }
 .info{
    width: 17em;
    height: 5em;
    margin: 2em;
    background-color:  #fff;
    outline: 1px solid red;
 }
 .dato1, .dato2{
     width: 40%;
     height: 100%;
     background-color: #ddd;
     float: left;
     margin-left: 1.5em;

     outline: 1px solid green;
 }
 .graficos{
     width:16em;
     height:10em;
     margin-left: 3em;
     margin-bottom: 3em;
     outline: 1px solid blue;
 }
 #graf_enrolmment{
     background-image: url("../assets/images/bar-graph.png");
     background-repeat: no-repeat;
 }
 #graf_achievement{
    background-image: url("../assets/images/graph.png");
    background-repeat: no-repeat;
 }
 #graf_net{
    background-image: url("../assets/images/graph.png");
    background-repeat: no-repeat;
 }
#section3{
  background-color: white;
  margin: 2em 8em 2em 8em;
  overflow: auto;
}

.tituloNotas .fa-cogs{
  color: #F9A91A;
  font-size: 1.5em;
  margin-right: 0.5em;
}
.tituloNotas{
  float: left;
  margin-top: 1.3em;
  margin-left: 2em;
  color: #333333;
}
.sprint{
  margin-top: 1.6em;
  margin-left: 2em;
  float: left;
  font-family: 'Patua One', cursive;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: grey;
}

#boxNotas{
  width: 8em;
  margin-top: 5em;
  margin-left: 13em;
}
#boxNotas H2 {
  color: #6BAF21;
  font-size: 1.5em;
  text-align: center;
}
#boxNotas .fa-female {
  margin-left: 0.2em;
  color: #6BAF21;
  font-size: 1em;
}
#boxNotas H3{
  font-size: 0.7em;
  text-align: center;
  color: #333333;
}
#grafico_torta1{
  margin-left: 8em;
  width: 18em;
}
#section4{
  background-color: white;
  margin: 2em 5em 2em 5em;
  height: 16em;
  overflow: auto;
  outline: 1px solid green;
}
