body{
    margin: 0 auto;
    overflow: auto;
    font-family: 'Patua One', cursive;
    background-color: #F7F7F7;
}
header{
    background-color: white;
    height: 5em;
  /*  outline: 1px solid green;*/
}
#logo{
    width: 12em;
    margin: 1.5em 0 0 33em;
}
/*#sidebar{
outline: 1px solid orange;
}
.abrir-cerrar{
    color: black;
    font-size: 2em;
    margin: 0.6em 0 0 1.5em;
    float: left;
}
#cerrar{
  display: none;
}*/
a:hover{
  color: #F9A91A;
}
#section1{
    background-color: #333333;
    height: 8em;
  /*  outline: 1px solid blue;*/
}
nav .fa-caret-down{
  font-size: 1.5em;
  margin-left: 0.5em;

}
nav{
  font-size: 1.2em;
}
nav ul:first-child{
  width: 11em;
}
nav ul li{
  margin-left: 2em;

}
ul, ol{
  list-style: none;
}
nav li a{
  background-color: #333333;
  color: white;
  text-decoration: none;
  padding: 0.8em 0.8em;
  display: block;
  /*outline: 1px solid red;*/
}
nav > li{
  float: left;
}
nav li ul{
  display: none;
  position: absolute;
  min-width: 10em;
}
nav li:hover > ul{
  display: block;
}
nav li ul li{
  position: relative;
  font-size: 1em;
}
nav li ul li ul{
  left: 6.4em;
  top: 0;
}
/*.menu_oculto{
  display: none;
}
.menu{
  display: block;
}*/
.menu ul{
  list-style: none;
  line-height: 2em;
  overflow: auto;
}
.menu ul li{
  text-align: center;
}
#btn{
  margin-left: 10em;
  float: left;
  border-bottom: 0.2em solid #F9A91A;
}
#sede{
  font-size: 1.5em;
  margin-left: 7em;
  color: #F9A91A;
  float: left;
}
#parrafo{
  margin-top: 0.1em;
  width: 20em;
}
button[type=button]{
   font-size: 1.1em;
   font-weight: bold;
   background-color: #333333;
   padding: 0.1em 0.8em 0.6em 0.8em;
   border: none;
   color: white;
   outline: none;
   cursor: pointer;
 }
 /*.contenedor{
   display: none;
 }
 .contendor2{
   display: block;
 }*/
/*ACA VA EL CSS DE LA LUCIA*/
#section3{
  width: 62em;
  margin-left: 9em;
  margin-bottom: 2em;
  overflow: auto;
  /*outline: 1px solid green;*/
}
#sub_section1{
  background-color: white;
  overflow: auto;
  float: left;
  width: 28em;
  margin-right: 4em;
  margin-top: 2em;
  /*outline: 1px solid red;*/
}
.tituloNotas .fa-cogs{
  color: #F9A91A;
  font-size: 1.5em;
  margin-right: 0.5em;
}
.tituloNotas{
  float: left;
  margin-top: 1.3em;
  margin-left: 2em;
  color: #333333;
}
.sprint{
  margin-top: 2.1em;
  margin-left: 2em;
  width: 7em;
  float: left;
  font-family: 'Patua One', cursive;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: grey;
}
#boxNotas{
  width: 8em;
  margin-top: 6em;
  margin-left: 11em;
}
#boxNotas H2 {
  color: #6BAF21;
  font-size: 1.5em;
  text-align: center;
}
#boxNotas .fa-female {
  margin-left: 0.2em;
  color: #6BAF21;
  font-size: 1em;
}
#boxNotas H3{
  margin-top: -1.5em;
  font-size: 0.7em;
  text-align: center;
  color: #333333;
}
#grafico_torta1{
  margin-left: 6em;
  width: 18em;
}
#sub_section2{
  background-color: white;
  overflow: auto;
  width: 28em;
  margin-top: 2em;
  /*outline: 1px solid red;*/
}
.tituloNotas .fa-handshake-o{
  color: #F9A91A;
  font-size: 1.5em;
  margin-right: 0.5em;
}

#boxNotas2{
  width: 8em;
  margin-top: 6em;
  margin-left: 11em;
}
#boxNotas2 H2 {
  color: red;
  font-size: 1.5em;
  text-align: center;
}
#boxNotas2 .fa-female {
  margin-left: 0.2em;
  color: red;
  font-size: 1em;

}
#boxNotas2 H3{
  margin-top: -1.5em;
  font-size: 0.7em;
  text-align: center;
  color: #333333;
}
#section4{
  width: 60em;
  margin-left: 9em;
  margin-bottom: 2em;
  overflow: auto;
  outline: 1px solid green;
  background-color: white;
}
#sub_section4{
  outline: 1px solid red;
  width: 20em;
  float: left;
  margin-left: 3em;
}
#autoevaluacion{
  width: 30em;
  margin-top: 1em;
  margin-left: 2em;
  outline: 1px solid green;
}
.tituloAuto .fa-handshake-o{
  color: #F9A91A;
  font-size: 1.5em;
  margin-right: 0.5em;
}
.tituloAuto{
  margin-top: 1.3em;
  margin-left: 2em;
  color: #333333;
}
.unidad{
  margin-left: 4em;
  width: 10em;
  font-family: 'Patua One', cursive;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: grey;
  outline: 1px solid green;
}
#boxPorcent{
  overflow: auto;
  outline: 1px solid green;
  display: inline-block;
}
#boxPorcent H2 {
  margin-left: 2em;
  color: #F9A91A;
  font-size: 1.5em;
  text-align: center;
  float: left;

}
