body{
  margin: 0 auto;
  overflow: auto;
  font-family: 'Patua One', cursive;
}
header{
  background-color: white;
}
#logo{
  width: 10em;
  margin: 1em 0 1em 35em;
}
.section1{
  background-color: #E1E1E1;
  height: 6em;
  padding-top: 2em;
}
#titulo {
  margin-left: 2em;
  color: #2B2B2B;
  font-size: 1.7em;
}
#icon{
  color: black;
  margin-left: 0.5em;
  font-size: 1.8em;
}
a{
  text-decoration: none;
  color: #2B2B2B;
}
.subtitulo{
  font-size: 1.2em;
  padding-top: 1em;
}
#sub1{
  margin-left: 2.8em;
}
#sub2, #sub3{
  margin-left: 1em;
}
